.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 100;
}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percent .number h2 {
    position: absolute;
    color: #FFF;
    font-weight: 700;
    font-size: 32px;
}

.percent .number h2 span {
    font-size: 24px;
}

svg {

    position: relative;
    width: 150px;
    height: 150px;
    z-index: 100;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: rgba(255, 255, 255, 0.25);
    transform: translate(5px, 5px);
    stroke-linecap: round;
}

svg circle:nth-child(2) {

    stroke: rgba(255, 255, 255, 1);
    stroke-dasharray: 440px;
    stroke-dashoffset: 80px;
}

.card:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 90) / 100);
}