.wrapper {
    position: relative;
}

.field {
    position: absolute;
    width: 1861px;
    height: 100px;
    background-color: #954c0c;
    top: 718px;
    right: -3px;
    border: 4px solid black;

}

.img {
    top: -110px;
    right: 50px;
    z-index: 1000;
    position: absolute;
    pointer-events: none;

}

.background {
    position: absolute;
    background-color: #00aeff;

    right: 400px;
    width: 90vh;

    transition: height 1.5s ease;
    bottom: -718px;
    /* bottom: 0; */
    /* width: 600px;
    height: 100px;
    top: 618px;
    right: 150px; */
}

.background::before {
    content: "";
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 22px;
    background: url(./wave.png);
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 118px;
    }
}

.sensor {
    position: absolute;
    bottom: -718px;
    width: 550px;
    height: 720px;
    border-right: 3px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.item {
    position: relative;
    height: 360px;
    width: 274px;
    border: 3px solid black;
}